---
// Components
import Header from 'components/Layout/Header.astro';
import Footer from 'components/Layout/Footer.astro';
import Seo from 'components/Layout/Seo.astro';
import HeroSmall from 'components/HeroSmall.astro';
import Authors from 'components/Authors.astro';
import { Picture } from 'astro:assets';

// Styles
import 'styles/Global.scss';

interface Props {
    data: {
        title: string;
        description: string;
        noindex?: boolean;
        date_published: string,
        authorName1?: string,
        authorImage1?: string,
        authorLinkedIn1?: string,
        authorName2?: string,
        authorImage2?: string,
        authorLinkedIn2?: string,
        featured_image?: string,
    }
}

const { data } = Astro.props;

const publishedObject = new Date(data.date_published);
const publishedDate = publishedObject.toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric'
});

// Get cover image
type ImageModule = {
    default: ImageMetadata;
};
const postImages = await import.meta.glob<ImageModule>('../assets/insights/featured_images/*.{jpg,jpeg,png,webp}', { eager: true });
const imagePath = `../assets/insights/featured_images/${data.featured_image}`;
const imageModule = postImages[imagePath];
---

<!doctype html>
<html lang="en">
	<head>
		<Seo
			title={data.title + ' – ClickHouse'}
			description={data.description}
			noindex={data.noindex}
		/>
	</head>
	<body>

		<Header />

		<main>
            <article>
                <HeroSmall>
                    <h1>{data.title}</h1>
                    <Authors data={data} />
                    <p class="mb-16">Published on {publishedDate}</p>
                </HeroSmall>

                <Picture
                    src={imageModule.default}
                    alt={data.title}
                    loading="eager"
                    class="aspect-[400/220] rounded-2xl wrapper mt-[-3.75rem] relative z-[2]"
                />

                <div class="
                    wrapper [&_img]:rounded-xl mt-[4rem] mb-[5rem]
                    [&_h2]:mt-10 [&_h3]:mt-8 [&_.astro-code]:my-8 [&_iframe]:my-8 [&_img]:my-8
                    [&_.astro-code]:p-6 [&_.astro-code]:rounded-xl [&_.astro-code]:!bg-black
                    [&_iframe]:max-w-full
                ">
			        <slot />
                </div>
            </article>
		</main>

		<Footer />

	</body>
</html>